.blink-area {
    font-size: 12em;
    font-weight: bold;
    color: greenyellow;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background-color: black;
}

.answers-container {
    display: grid;
    grid-template-columns: 32em 32em;
    grid-template-rows: auto;
    justify-content: center;
    margin-top: 4em;
}
    
.choice {
    font-size: 6em;
    font-weight: bold;
    color: green;
    justify-self: stretch;
    border: solid yellow;
    text-align: center;
}

h4 {
    color: red;
    font-size: 7em;
    text-align: center;
    justify-content: center;
}