.blink-area {
    font-size: 10em;
    font-weight: bold;
    color: greenyellow;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.blink-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50em 50em;
    grid-template-rows: 23em 23em;
    justify-content: center;
}

body {
    background-color: black;
}

.answers-container {
    display: grid;
    grid-template-columns: 42em 42em;
    grid-template-rows: 11em 11em 11em 11em;
    justify-content: center;
    margin-top: 4em;
}
    
.choice {
    font-size: 6em;
    font-weight: bold;
    color: green;
    justify-self: stretch;
    border: solid yellow;
    text-align: center;
}

h4 {
    color: red;
    font-size: 17em;
    text-align: center;
    justify-content: center;
}